
<!DOCTYPE html>
<html>
    <head>
        <title> Seekers </title>
    </head>
    <body bgcolor="purple">
        <div id="main">
            <div id="title">
                <div id="back" style="float: left"><img src="./images/back.jpg" width="300" height="50"></div>
                <div id="signup"  style="float: right"><img src="./images/sign.jpg" width="600" height="50"></div>
            </div>
            <div id="extra">
                <div id="search" style="float: right"> <img src="./images/menu.jpg" width="5000" height="60"></div>
            </div>
            <div id="menu"><img src="./images/sign.jpg" width="600" height="50">
            </div>
            <div id="description">
            </div>
            <div id="foot"></div>
        </div>
    </body>
</html>